# Note these are settings for GNU readline. Comparable settings for
# zsh are available in .zshrc.

set bell-style visible
set completion-ignore-case on
"\e[1;5C": end-of-line
"\e\e[C": forward-word
"\e[1;5D": beginning-of-line
"\e\e[D": backward-word

# To setup on macOS, change the default keyboard shortcuts for Mission
# Control s.t. they do not conflict with ctrl-left-arrow, etc. In
# iTerm under Preferences -> Profiles -> Keys, set left and right
# Option keys to "Esc+".
